@media (min-width: 1024px){
    .header{
        &__link{
            transition: 0.3s;
            &:hover{
                background-color: #EB443F;
            }
            &:active{
                transform: scale(1.02);
            }
        }
    }
    .game{
        transition: all 0.3s ease-in-out;
        &:hover{
            border: 3px solid #44D2FF; 
            border-radius: 16px;
            transform: translateY(-20px);
         }
         &:active{
             transform: scale(1.02);
         }
    }
    .about_game{
        &__button{
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #EB443F;
            }
            &:active{
                transform: scale(1.02); 
            }
        }
    }
}