@media (max-width: 425px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        background-image: url(img/background_img_mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 735px;
    }
    .header{
        &__link{
            transition: 0.3s;
            &:active{
                transform: scale(1.02);
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 238px;
        &__title{
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text{
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: 343px;
            margin-bottom: 32px;
        }
    }
    .list_of_games{
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    .game{
        width: 343px;
        transition: all 0.3s ease-in-out;
         &:active{
             transform: scale(1.02);
         }
    }
    .main__about_game {
        padding-top: 51px;
        padding-bottom: 85px;
    }    
    .about_game{
        flex-direction: column;
        align-items: center;
        gap: 64px;
        &__left{
            align-items: center;
        }
        &__right{
            width: 344px;
        }
        &__title{
            font-size: 32px;
            line-height: 39px;
        }
        &__text{
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: 343px;
        }
    }
    .about_game{
        &__button{
            transition: all 0.3s ease-in-out;
            &:active{
                transform: scale(1.02); 
            }
        }
    }
}
@media (max-width: 374px){
    .header{
        &__text{
            width: 288px;
        }
    }
 .game{
    width: 288px;
 }
 .about_game{
    &__left{
        width: 288px;
    }
    &__text{
        width: 283px;
    }
    &__right{
        width: 288px;
    }
 }
}
